services:
  db:
    container_name: db
    image: postgres:16
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 20
  
  db-seeder:
    image: postgres:16
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./database:/seed
    env_file:
      - .env
    command: >
      bash -lc "
        echo 'Waiting for Postgres: ';
        echo $$DB_NAME;
        until pg_isready -h $$DB_HOST -U $$DB_USER -d $$DB_NAME; do sleep 1; done;
        export PGPASSWORD=\"$$DB_PASSWORD\";
        echo 'Running SQL seed files...';
        for f in ./seed/*.sql; do
          echo 'Executing' $$f;
          psql -h $$DB_HOST -U $$DB_USER -d $$DB_NAME -v ON_ERROR_STOP=1 -1 -f \"$$f\";
        done;
        echo 'All seed files executed successfully.';
      "
  mongo:
    image: mongo:7
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5
  rabbitmq:
    image: rabbitmq:3-management
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 5

  listing-service:
    build: 
      context: .
      dockerfile: ./listing-service/Dockerfile
    container_name: listing-service
    env_file:
      - ./.env
      - ./listing-service/.env
    ports:
      - "${LISTING_PORT}:${LISTING_PORT}"
    depends_on:
      db-seeder:
        condition: service_completed_successfully

  orchestrator:
    build: 
      context: .
      dockerfile: ./orchestrator/Dockerfile
    container_name: orchestrator
    env_file:
      - ./.env
      - ./orchestrator/.env
    ports:
      - "${ORCHESTRATOR_PORT}:${ORCHESTRATOR_PORT}"
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
    depends_on:
      db-seeder:
        condition: service_completed_successfully
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    depends_on:
      - orchestrator
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
